---
import {Image} from "astro:assets";
import PostMeta from "./PostMeta.astro";
const {post, class: classes, ...props} = Astro.props;
const {title, image, description} = post.data;
---

<header class="post-header" class:list={[classes]} {...props}>
	<h1 class="post-title" itemprop="headline">{title}</h1>
	<p itemprop="description">{description}</p>
	{image && <figure class="post-image">
		<figcaption class="visuallyhidden">{title}</figcaption>
		<Image src={image} alt={description} itemprop="image"/>
	</figure>}
	<PostMeta class="post-meta" post={post}/>
	<slot/>
</header>

<style>
	:global(a .post-header:hover [itemprop="headline"], a .post-header:hover [itemprop="description"]) {
		text-decoration: underline;
	}
	[itemprop="headline"], [itemprop="description"] {
		margin-block-end: var(--flow-block-spacing);
		text-underline-offset: 0.4em;
	}
	[itemprop="headline"] {
		line-height: 1.5;
		font-weight: bold;
	}
	[itemprop="description"] {
		font-size: 1.75rem;
		font-weight: lighter;
		letter-spacing: 0.04em;
	}
	.post-meta {
		margin-block: 1.5rem;
	}
</style>