---
import FormattedDate from "../FormattedDate.astro";
const {post, class: classes, ...props} = Astro.props;
const {datePublished, dateModified, title, author, tags} = post.data;
const hasTags = Array.isArray(tags) && tags.length;
import {SITE} from "@config";
const [firstName, lastName] = SITE.author.split(" ");
---

<dl class="post-meta" class:list={[classes]} {...props}>
	<dt class="published-label">Published</dt>
	<dd><FormattedDate date={datePublished} itemprop="datePublished"/></dd>
	<dt class="published-label">Last Updated</dt>
	<dd><FormattedDate date={dateModified} itemprop="dateModified"/></dd>
	{hasTags &&
		<dt class="tags-label">Tags</dt>
		<dd>
			<ul class="tags">
				{tags.map((tag) => (
					<li>{tag}</li>
				))}
			</ul>
		</dd>
	}
	<dt class="author-label">Author</dt>
	<dd itemprop="author">{SITE.author}</dd>
	<dt class="visuallyhidden">Publisher</dt>
	<dd class="visuallyhidden" itemprop="publisher" itemtype="https://schema.org/Person" itemscope="">
		<span itemprop="givenName">${firstName}</span>
		<span itemprop="familyName">${lastName}</span>
	</dd>
</dl>

<style>
	.post-meta {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
</style>